main {
  h1 {
    font-size: 1.2em;
    font-weight: bolder;
    &:first-of-type {
      margin: 0px 0px .25em 0px;
    }
    margin: .5em 0px .25em 0px;
  }
  ul {
    list-style-type: none;
    &.bunch {
      li {
        display: inline;
        &:not(:last-of-type):after {
          content: ",";
        }
      }
    }
    &.points {
      list-style-type: circle;
    }
  }
  h4, h5 {
    @extend %flex;
    font-size: 1em;
    p:nth-of-type(even) {
      text-align: right;
    }
  }
  h4 {
    font-weight: bold;
  }
  h5 {
    font: {
      weight: normal;
      style: italic;
    }
  }
}
