div#content {
   max-width: $page-size;
   margin: auto;
   padding: 1em;
   h1 {
      font-size: 2em;
      padding: .5em;
      margin: .5em;
   }
   h2 {
      font-size: 1.1em;
      font-weight: bolder;
      margin: .25em 0px;
   }
   h1, h2 {
      text-transform: capitalize;
   }
   ul {
      list-style-type: none;
      &.bunch {
         li {
            display: inline;
            &:not(:last-of-type):after {
               content: ",";
            }
         }
      }
      &.points {
         list-style-type: circle;
      }
   }
   div.descriptor {
      display: flex;
      justify-content: space-between;
      &:nth-of-type(even) {
         font-style: italic;
         font-size: .85em;
      }
      li:nth-of-type(even) {
         text-align: right;
      }
   }
}
