* {
  margin: 0px;
  color: $black;
  background-color: $white;
  font-family: 'Ubuntu', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > * {
    flex: 1 100%;
    &:not(hr) {
      max-width: 1024px;
      padding: 1em;
    }
  }
}
a {
  color: $green - 25;
  text-decoration: none;
  transition: all .3s ease;
  &:hover {
    color: $green;
  }
}
h1{
  text-transform: capitalize;
}
hr {
  border: none;
  background-color: $green;
  height: .75em;
  box-shadow: 0px 5px 5px -5px $black inset;
}
