* {
   margin: 0px;
}
body {
   background-color: $white;
   font-family: 'Ubuntu', sans-serif;
   color: $black;
}
%framing {
   max-width: 1024px;
   margin: auto;
   padding: 1em;
}
%flex {
   display: flex;
   justify-content: space-between;
}
