header {
   max-width: $page-size;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   h1 {
      text-transform: capitalize;
      padding: .5em 0px;
      text-shadow: 2px 2px 2px $gray;
      font-size: 3em;
      display: block;
      &:before, &:after {
         color: $green;
      }
      &:before {
         content: "\2039";
      }
      &:after {
         content: "\203A";
      }
   }
   p {
      text-align: right;
   }
}
div#splash {
   background-color: $green;
   height: 1em;
   box-shadow: 0px 5px 5px -5px $black inset;
}
