header {
  @extend %flex;
  h1 {
    @extend %shadow;
    font-size: 3em;
    display: block;
    &:before, &:after {
      color: $green;
    }
    &:before {
      content: "\2039";
    }
    &:after {
      content: "\203A";
    }
  }
  p {
    text-align: right;
    line-height: 1.4em;
  }
}
