header {
   h1 {
      text-transform: capitalize;
      text-align: left;
      padding: .5em;
      text-shadow: 2px 2px 2px $gray;
      font-size: 3em;
      &:before, &:after {
         color: $green;
      }
      &:before {
         content: "\2039";
      }
      &:after {
         content: "\203A";
      }
   }
   div#splash {
      background-color: $green;
      height: 1em;
      box-shadow: 0px 5px 5px -5px $black inset;
   }
}