Nate Tangsurat's Resume
=======================

| {{ basics.phone }}
| {{ basics.email }}
| {{ basics.website }}

----

Summary
-------

{{ basics.summary }}

Education
---------

{%- for school in education %}
* {{ school.institution }}
* {{ school.startDate|date }} - {{ school.endDate|date }}
* {{ school.studyType }} in {{ school.area }}
{%- endfor %}
