header, main {
  max-width: 1024px;
  margin: auto;
  padding: 1em; }

header, main div {
  display: flex;
  justify-content: space-between; }

* {
  margin: 0px; }

body {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  color: #111111; }

a {
  color: #2ecc40;
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0.05em #aaaaaa;
  transition: all .3s ease;
  font-weight: bold; }
  a:hover {
    color: #15b327; }

header {
  align-items: center;
  flex-wrap: wrap; }
  header h1 {
    text-transform: capitalize;
    text-shadow: 0.05em 0.05em 0.05em #aaaaaa;
    font-size: 3em;
    display: block; }
    header h1:before, header h1:after {
      color: #2ecc40; }
    header h1:before {
      content: "\2039"; }
    header h1:after {
      content: "\203A"; }
  header p {
    flex-grow: 1;
    text-align: right; }

div#splash {
  background-color: #2ecc40;
  height: 1em;
  box-shadow: 0px 5px 5px -5px #111111 inset; }

main h1 {
  font-size: 2em;
  padding: .5em;
  margin: .5em; }
main h2 {
  font-size: 1.1em;
  font-weight: bolder;
  margin: .25em 0px; }
main h1, main h2 {
  text-transform: capitalize; }
main ul {
  list-style-type: none; }
  main ul.bunch li {
    display: inline; }
    main ul.bunch li:not(:last-of-type):after {
      content: ","; }
  main ul.points {
    list-style-type: circle; }
main div:nth-of-type(even) {
  font-style: italic;
  font-size: .85em; }
main div li:nth-of-type(even) {
  text-align: right; }
