* {
   margin: 0;
}
body {
   background-color: #FFF;
   font-family: 'Ubuntu', sans-serif;
}
div#banner h1 {
   text-align: left;
   color: #111;
   padding: .5em;
   text-shadow: 2px 2px 2px #AAA;
}
div#banner div#splash {
   background-color: #2ECC40;
   height: 1em;
   box-shadow: 0px 5px 5px -5px #111 inset;
}
h1:before, h1:after {
   color: #2ECC40;
}
h1:before {
   content: "\2039";
}
h1:after {
   content: "\203A";
}