* {
  margin: 0px; }

body {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  color: #111111; }

header h1 {
  text-transform: capitalize;
  text-align: center;
  padding: .5em;
  text-shadow: 2px 2px 2px #aaaaaa;
  font-size: 3em; }
  header h1:before, header h1:after {
    color: #2ecc40; }
  header h1:before {
    content: "\2039"; }
  header h1:after {
    content: "\203A"; }
header div#splash {
  background-color: #2ecc40;
  height: 1em;
  box-shadow: 0px 5px 5px -5px #111111 inset; }

div#content {
  max-width: 1024px;
  margin: auto;
  padding: 1em; }
  div#content h1 {
    font-size: 2em;
    padding: .5em;
    margin: .5em; }
  div#content h2 {
    font-size: 1.1em;
    font-weight: bolder;
    margin: .25em 0px; }
  div#content h1, div#content h2 {
    text-transform: capitalize; }
  div#content ul {
    list-style-type: none; }
    div#content ul.bunch li {
      display: inline; }
      div#content ul.bunch li:not(:last-of-type):after {
        content: ","; }
    div#content ul.points {
      list-style-type: circle; }
  div#content div.descriptor {
    display: flex;
    justify-content: space-between; }
    div#content div.descriptor:nth-of-type(even) {
      font-style: italic;
      font-size: .85em; }
